.heading {
    margin: 0;
    padding: 0px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading-container{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
  }
  .heading-container h3{
    margin-left: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
  }
  
  .logo{
    height: 30px;
  }
  .heading .left{
    margin-right: 15px;
  }
 
.button{
  border:none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.login{
  background-color: teal;
  margin-right: 15px;
}
.logout{
  background-color: tomato;
}
.register{
  background-color: slateblue;
  margin-right: 12px;
}
.buttons ,.logout{
  right: 10px;
}

.input-wrapper{
  background-color: black;  
  display: flex;
  border-radius: 10px;
  height: 2rem;
  padding: 0 5px;
  box-shadow: 0px 0px 6px #ddd;
  align-items: center;
}
.input-wrapper input{
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  width: 100%;
  margin-right: 5px;
  color: white;
}
.input-wrapper input:focus{
  outline: none;
  border-radius: 10px;
  background-color: black;
}
#search-icon{
  color: royalblue;
  cursor: pointer;
}

@media(max-width:600px){
  .input-wrapper{
    max-width:150px ;
  }
  .heading-container h3{
    font-size: medium;
  }
  .heading-container .logo{
    height: 22px;
  }
}

@media(max-width:500px){
  .input-wrapper{
    max-width:80px ;
  }
}

@media(max-width:400px){
  .input-wrapper{
    max-width:50px ;
  }
}


